.root {
    -fx-background-color: #f9f3ec;
}

#commandTitleLabel {
    -fx-text-fill: black;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

#commandDescriptionLabel {
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

/* Make the window wider */
.scene {
    -fx-min-width: 800.0;
    -fx-pref-width: 800.0;
    -fx-min-height: 250.0;
    -fx-pref-height: 250.0;
}
