#copyButton, #helpMessage, #supportedCommandsHeader, #supportedCommandsContent {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #a66117;
}

#copyButton:hover {
    -fx-background-color: #faf9ed;
}

#copyButton:armed {
    -fx-background-color: #a66117;
}

#helpMessageContainer {
    -fx-background-color: #f9f3ec;
}

#supportedCommandsHeader {
    -fx-font-weight: bold;
}
